<!DOCTYPE html>
<html class="error-page">
<head>
    <title>关键字</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    [#include "views/include/include.html"]
</head>
<body>

<!--内容 begin-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="centering text-center error-container">
                <div class="text-center">
                    <h2 class="without-margin">抱歉 <span class="text-warning">404</span> error.</h2>
                    <h4 class="text-warning">${msg}</h4>
                </div>
                <!-- <div class="text-center">
                    <h3>
                        <small>请选择下列操作</small>
                    </h3>
                </div>
                <hr>
                <ul class="pager">
                    <li><a href="javascript:history.back(-1)">返回</a></li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
