<script>
	var jspath = "${jspath}";
	var base = "${base}";
    var staticversion="${staticversion}";
</script>
 <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="${jspath}/resources/vendors/font-awesome/css/font-awesome.min.css?${staticversion}">
    <link type="text/css" rel="stylesheet" href="${jspath}/resources/vendors/bootstrap/css/bootstrap.min.css?${staticversion}">
    <link type="text/css" rel="stylesheet" href="${jspath}/resources/vendors/bootstrap-datepicker/css/datepicker3.css?${staticversion}">
    <link type="text/css" rel="stylesheet" href="${jspath}/resources/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css?${staticversion}">
    <!--<link rel="stylesheet" href="${jspath}/resources/js/bootstrapvalidator/dist/css/bootstrapValidator.css"/>-->
    <link rel="stylesheet" href="${jspath}/resources/js/bootstrapvalidator/dist/css/formValidation.css?${staticversion}"/>

   <!--Loading style-->
   <link type="text/css" rel="stylesheet" href="${jspath}/resources/css/themes/style1/white-blue.css?${staticversion}" class="default-style">
   <link type="text/css" rel="stylesheet" href="${jspath}/resources/css/style-responsive.css?${staticversion}">

   <!--Loading commonControls style-->
   <link type="text/css" rel="stylesheet" href="${jspath}/resources/js/datagrid/css/style.css?${staticversion}">

    <!--Loading fileupload style-->
    <link type="text/css" rel="stylesheet" href="${jspath}/resources/vendors/jquery-file-upload/css/jquery.fileupload.min.css?${staticversion}">
    <link type="text/css" rel="stylesheet" href="${jspath}/resources/vendors/jquery-file-upload/css/jquery.fileupload-ui.min.css?${staticversion}">

    <!--Loading easyui style-->
    <link rel="stylesheet" type="text/css" href="${jspath}/resources/easyui/themes/icon.css?${staticversion}">
    <link rel="stylesheet" type="text/css" href="${jspath}/resources/easyui/themes/default/uban_easyui.css?${staticversion}">

    <!--Loading poshytip style-->
    <link type="text/css" rel="stylesheet" href="${jspath}/resources/poshytip/css/tip-yellow.css?${staticversion}">

    <script src="${jspath}/resources/js/jquery-1.10.2.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/js/jquery-migrate-1.2.1.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/js/jquery-ui.js?${staticversion}"></script>

    <!--loading easyui js-->
    <script type="text/javascript" src="${base}/resources/easyui/jquery.easyui.min.js?${staticversion}"></script>

    <!--loading bootstrap js-->
    <script src="${jspath}/resources/vendors/bootstrap/js/bootstrap.min.js?${staticversion}"></script>

    <!--loading poshytip js-->
    <script src="${jspath}/resources/poshytip/js/poshytip.js?${staticversion}"></script>

    <script type="text/javascript" src="${jspath}/resources/js/bootstrapvalidator/dist/js/formValidation.js?${staticversion}"></script>
    <script type="text/javascript" src="${jspath}/resources/js/bootstrapvalidator/dist/js/framework/bootstrap.js?${staticversion}"></script>
    <script type="text/javascript" src="${jspath}/resources/js/bootstrapvalidator/dist/js/zh_CN.js?${staticversion}"></script>

    <script src="${jspath}/resources/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js?${staticversion}"></script>
    <script src="${jspath}/resources/js/html5shiv.js?${staticversion}"></script>
    <script src="${jspath}/resources/js/respond.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/metisMenu/jquery.metisMenu.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/slimScroll/jquery.slimscroll.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/jquery-cookie/jquery.cookie.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/iCheck/icheck.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/iCheck/custom.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/jquery-notific8/jquery.notific8.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/jquery-highcharts/highcharts.js?${staticversion}"></script>
    <script src="${jspath}/resources/js/jquery.menu.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/jquery-pace/pace.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/holder/holder.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/responsive-tabs/responsive-tabs.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/jquery-news-ticker/jquery.newsTicker.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/moment/moment.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/bootstrap-daterangepicker/daterangepicker.js?${staticversion}"></script>

    <!--loading mustache js-->
    <script src="${jspath}/resources/js/mustache/mustache.js?${staticversion}"></script>

   <!--loading commons js-->
   <script src="${jspath}/resources/js/utils/utils.js?${staticversion}"></script>
   <script src="${jspath}/resources/js/utils/common.js?${staticversion}"></script>
   <script src="${jspath}/resources/js/datagrid/datagrid.js?${staticversion}"></script>
   <script src="${jspath}/resources/js/combox/combox.js?${staticversion}"></script>

   <!--CORE JAVASCRIPT-->
   <script src="${jspath}/resources/js/main.js?${staticversion}"></script>

    <!--fileupload js-->
    <script src="${jspath}/resources/js/widget.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/jquery-file-upload/js/vendor/jquery.fileupload.min.js?${staticversion}"></script>
    <script src="${jspath}/resources/vendors/jquery-file-upload/js/vendor/jquery.xdr-transport.js?${staticversion}"></script>

    <!--3d js-->
    <script src="${jspath}/resources/js/3d.js?${staticversion}"></script>
    <script src="${jspath}/resources/js/three.min.70.js?${staticversion}"></script>
    <script src="${jspath}/resources/js/release/release_notes.js?${staticversion}"></script>

    <script type="text/javascript">
          $(function(){
            if($(window).width() > 768) {
                if ($('.form-inline').width() > 262){
                    $('.textarea-auto-height').width(($('.form-inline').width()-262 )+ 'px')
                }
            }
          })
    </script>


